django
djangorestframework
requests
pymemcache
django-debug-toolbar
requests~=2.31.0
aiohttp
sqlalchemy
asyncpg
pyyaml
pytest
pytest-asyncio
pytest-cov
pytest-mock
django~=4.2.5
isort
black
result
django_tables2
cachetools~=5.3.1
djangorestframework~=3.14.0
cachetools
django
djangorestframework
requests
pymemcache
django-debug-toolbar
cachetools
asyncache
django-rest-swagger
rabbitmq-server
systemctl --type=service | grep rabbit
celery
frozendict
pydantic