<!-- Lesson "Django Templates" -->
<!DOCTYPE html>
<html lang="en">
<title>My page</title>
<head>
    <style>
    body {
      background-color: rgba(24, 80, 120, 0.5);
    }
    </style>
</head>
<body>
    <h1>Hello world!</h1>
    <div>
        <h2>I'm Alex</h2>
        <h3>I'm 34</h3>
        <p>I love Python</p>
        <p style="color:rgb(200, 255, 0);">I like to write code every day :)</p>
        <a href="../../django_orm_4.py">My code</a>
        <p>My favourite languages</p>
        <ul>
            <li>Python</li>
            <li>Rust</li>
            <li>Java</li>
        </ul>
    </div>
    <div>
        <h2>I'm Ann</h2>
        <h3>I'm 32</h3>
    </div>
    <div>
        <table>
          <tr>
            <th>Name</th>
            <th>Age</th>
          </tr>
          <tr>
            <td>Alex</td>
            <td>34</td>
          </tr>
          <tr>
            <td>Ann</td>
            <td>32</td>
          </tr>
        </table>
    </div>
</body>
</html>